/* .row {
    display: flex;
    justify-content: flex-start;
  } */
  .align-left{
    text-align: left;
  }
  .right{
    align-items: right;
  }
  .middle{
    align-items: center;
  }
  .container {
    background-color: #F1F1F1;
    max-width: 1500px;
    /* padding: 1px; */
  }
  
  .goals-card {
    background-color: #900a63;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
  }
  
  h3 {
    color: #c21973;
    margin-bottom: 20px;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  .col-12 p {
    margin-top: 20px;
  }
  
  .col-12 img {
    max-width: 100%;
    margin-top: 20px;
  }
  