.mac-book1-mac-book1 {
  width: 1152px;
  height: 700px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book1-text {
  top: 18px;
  left: 24px;
  color: rgba(23, 37, 42, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: italic;
  text-align: left;
  font-family: Sanchez;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book1-akariconslockoff {
  top: 370px;
  left: 656px;
  width: 17px;
  height: 15px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.mac-book1-peoplehuggingflatdesign2321485765391 {
  top: 118px;
  left: 263px;
  width: 626px;
  height: 417px;
  position: absolute;
}
.mac-book1-text2 {
  top: 96px;
  left: 298px;
  color: rgba(162, 154, 154, 1);
  width: 555px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Zeyada;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book1-text4 {
  top: 481px;
  left: 298px;
  color: rgba(245, 79, 91, 1);
  width: 555px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: center;
  font-family: Spicy Rice;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book1-text5 {
  color: rgba(245, 79, 91, 1);
}
