.marketing-container {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
}

.marketing-title {
  color: #ff4265;
  font-size: 32px;
  margin-bottom: 10px;
}

.marketing-subtitle {
  color: #666;
  font-style: italic;
  margin-bottom: 20px;
}

.marketing-description {
  color: #333;
  line-height: 1.5;
  font-size: 18px;
}

.marketing-image {
  width: 100%;
  margin-top: 20px;
}

.breast-cancer-image {
  width: 50%;
  float: left;
  margin-right: 20px;
}

.visibility-image {
  width: 50%;
  float: left;
}

.clearfix {
  clear: both;
}
