.ourEvents {
  text-align: center;
  padding: 20px;
}

.dada {
  width: 200px;
  margin: 10px auto;
}

.wellness {
  width: 300px;
  margin: 10px auto;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #ff0099;
}

h3 {
  font-size: 22px;
  margin: 20px 0;
  color: #ff0099;
}

h4 {
  font-size: 18px;
  margin: 10px 0;
}

h5 {
  font-size: 16px;
  margin-top: 20px;
  color: #ff0099;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 20px;
}

.list-group-item {
  border: none;
}

.table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

ol {
  margin-left: 20px;
}

ul {
  margin-left: 40px;
}

li {
  margin-bottom: 10px;
}

ol, ul {
  list-style-type: disc;
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #ddd;
}

.expected-outcomes ol {
  list-style-type: decimal;
}

.expected-outcomes ol li {
  margin-bottom: 10px;
}

.expected-outcomes ol, .expected-outcomes ul {
  margin-left: 20px;
}
